@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
html,
body {
    background: -moz-linear-gradient(top, #1f1f1f 0%, #3b3b3b 100%);
    background: -webkit-linear-gradient(top, #1f1f1f 0%, #3b3b3b 100%);
    background: linear-gradient(to bottom, #1f1f1f 0%, #3b3b3b 100%);
    width: 100%;
    height: 5000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

img {
    image-rendering: crisp-edges;
}

.intro_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    background-color: #242424;
    display: block;
}

.navbar {
    background-color: #151515;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100000000000;
}

.navlogo {
    height: 80px;
    width: auto;
    position: fixed;
    top: 0%;
    left: 48%;
}

.navcart {
    height: 60px;
    width: auto;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
}

h6.shopping_cart_amount {
    position: fixed;
    top: -23px;
    right: 49px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-emphasis: bold;
    z-index: 2;
}

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 35px;
    cursor: pointer;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
    width: 15px;
}

.menu-icon__line-right {
    width: 15px;
    float: right;
}

.nav_menu {
    position: fixed;
    z-index: 1;
}

.nav_menu:before,
.nav_menu:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
}

.nav_menu:after {
    background: white;
    transition-delay: 0s;
}

.nav_menu:before {
    transition-delay: .1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.nav__list-item {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 40px;
    padding: 10px 0px 0px 0px;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 2px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 40px;
}

.nav__list-main {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 70px;
    padding: 100px 80px 10px 80px;
}

.nav__list-main:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 3px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 60px;
}

.nav__list-item:hover:before {
    width: 100%;
}

#men:hover:before {
    width: 36%;
}

#women:hover:before {
    width: 50%;
}

body.nav-active .menu-icon__line {
    background-color: #ffffff;
    -webkit-transform: translateX(0px) rotate(-45deg);
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
    -webkit-transform: translateX(1px) rotate(45deg);
    transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    -webkit-transform: translateX(-2px) rotate(45deg);
    transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav_menu {
    visibility: visible;
}

body.nav-active .nav_menu:before,
body.nav-active .nav_menu:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav_menu:after {
    transition-delay: .1s;
}

body.nav-active .nav_menu:before {
    transition-delay: 0s;
    display: block;
}

body.nav-active .nav__list-main {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-main {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item {
    transition-delay: 0.5s;
}

@-webkit-keyframes small {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 2rem);
        transform: translate(0, 2rem);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes small {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, 2rem);
        transform: translate(0, 2rem);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes big {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -3rem);
        transform: translate(0, -3rem);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes big {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(0, -3rem);
        transform: translate(0, -3rem);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.product {
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    z-index: 2;
    padding: 0 2rem;
}

canvas {
    height: 100%;
    width: 99.4%;
    position: absolute;
    top: 0;
    display: block;
    vertical-align: bottom;
}

.product-photo {
    padding: 80px 0px 0px 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: relative;
}

.product-photo img:nth-child(1) {
    width: 300px;
    height: auto;
    margin-top: 10%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation-name: small;
    animation-name: small;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.product-photo img:nth-child(2) {
    width: 500px;
    height: auto;
    -webkit-animation-name: big;
    animation-name: big;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
}

.Plain_text {
    width: 100%;
    height: auto;
}
.product-color {
    margin: 5px 0px;
}

.product-color {
    list-style: none;
}

.product-color li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0px 7px;
}

.product-color li input {
    position: absolute;
    left: 0;
    top: -300%;
    opacity: 0;
    visibility: hidden;
}

.product-color li input:checked+label {
    border-color: #6CA1AD;
    opacity: 1;
}

.product-color li input:checked+label:after {
    content: "";
    opacity: 1;
}

.product-color li label {
    width: 50px;
    color: #fff;
    height: 50px;
    line-height: 26px;
    border-radius: 26px;
    display: inline-block;
    position: relative;
    border: 2px solid #535151;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.product-color li label:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
    font: normal normal normal 14px FontAwesome;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    moz-transition: opacity 0.3s ease-in-out;
    o-transition: opacity 0.3s ease-in-out;
}

.styled-select {
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 100%;
    z-index: 10;
}

select {
    padding: 2px 30px 2px 2px;
    border: none;
}

.styled-select select {
    background: white;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 100%;
}

.styled-select.slate {
    height: 50px;
    width: 300px;
    position: absolute;
    z-index: 10000000;
    border-radius: 4px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: bolder;
    height: 50px;
    max-width: 300px;
    position: relative;
}

.slate {
    background-color: black;
}

.slate select {
    color: black;
}

#mainselection select {
    border: 0;
    color: #EEE;
    background: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 2px 10px;
    width: 378px;
    -webkit-appearance: none;
}

#mainselection {
    overflow: hidden;
    width: 350px;
    -moz-border-radius: 9px 9px 9px 9px;
    -webkit-border-radius: 9px 9px 9px 9px;
    border-radius: 9px 9px 9px 9px;
    box-shadow: 1px 1px 11px #330033;
    background: #58B14C url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
    z-index: 10;
}

select#soflow,
select#soflow-color {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin: 20px;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}

select#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: #779126;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
}

.underpicture {
    z-index: 1000;
    width: 300px;
    height: auto;
    transform: translate(20%, -20%);
}

canvas#particles {
    display: block;
    position: absolute;
    background-color: #242424;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

.count-particles {
    border-radius: 0 0 3px 3px;
}

@media only screen and (max-width: 1350px) {
    .styled-select select {
        max-width: 200px;
    }

    .small {
        position: absolute;
    }

    #paypal-button-container {
        left: 0%;
        position: relative;
    }
}

@media only screen and (max-width: 1200px) {
    .styled-select.slate {
        left: 12%;
    }

    #paypal-button-container {
        left: 12%;
        position: relative;
    }
}

@media only screen and (max-width: 1100px) {
    .styled-select select {
        max-width: 500px;
    }

    .styled-select.slate {
        left: 12%;
    }

    .underpicture {
        z-index: 1000;
        width: 500px;
        height: auto;
        transform: translate(20%, -20%);
    }

    .small {
        position: absolute;
    }

    #paypal-button-container {
        left: 12%;
        position: relative;
    }
}

@media only screen and (max-width: 980px) {
    .underpicture {
        transform: translate(45%, -10%);
    }

    .small {
        position: absolute;
    }

    #paypal-button-container {
        left: 12%;
        position: relative;
    }
}

@media only screen and (max-width: 450px) {
    .styled-select select {
        max-width: 500px;
    }

    .styled-select.slate {
        left: 12%;
    }

    .underpicture {
        z-index: 1000;
        width: 300px;
        height: auto;
        transform: translate(20%, 0%);
    }

    .small {
        position: absolute;
    }

    #paypal-button-container {
        left: 12%;
        position: relative;
    }
}

@media only screen and (max-width: 375px) {
    .styled-select select {
        max-width: 500px;
    }

    .styled-select.slate {
        left: 12%;
    }

    .underpicture {
        z-index: 1000;
        width: 300px;
        height: auto;
        transform: translate(0%, 0%);
    }

    .small {
        position: absolute;
    }

    #paypal-button-container {
        left: 12%;
        position: relative;
    }
}