html,
body {
    background-color: #ffffff;
    color: #000;
    width: 100%;
    height: 8000px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

.intro_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    background-color: #ffffff;
    display: block;
}

.navbar {
    background-color: #151515;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navlogo {
    height: 80px;
    width: auto;
    position: fixed;
    top: 0%;
    left: 48%;
}

.navcart {
    height: 60px;
    width: auto;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
}

h6.shopping_cart_amount {
    position: fixed;
    top: -23px;
    right: 49px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-emphasis: bold;
    z-index: 2;
}

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 35px;
    cursor: pointer;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
    width: 15px;
}

.menu-icon__line-right {
    width: 15px;
    float: right;
}

.nav_menu {
    position: fixed;
    z-index: 1;
}

.nav_menu:before,
.nav_menu:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
}

.nav_menu:after {
    background: white;
    transition-delay: 0s;
}

.nav_menu:before {
    transition-delay: .1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.nav__list-item {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 40px;
    padding: 10px 0px 0px 0px;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 2px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 40px;
}

.nav__list-main {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 70px;
    padding: 100px 80px 10px 80px;
}

.nav__list-main:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 3px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 60px;
}

.nav__list-item:hover:before {
    width: 100%;
}

#men:hover:before {
    width: 36%;
}

#women:hover:before {
    width: 50%;
}

body.nav-active .menu-icon__line {
    background-color: #ffffff;
    -webkit-transform: translateX(0px) rotate(-45deg);
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
    -webkit-transform: translateX(1px) rotate(45deg);
    transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    -webkit-transform: translateX(-2px) rotate(45deg);
    transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav_menu {
    visibility: visible;
}

body.nav-active .nav_menu:before,
body.nav-active .nav_menu:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav_menu:after {
    transition-delay: .1s;
}

body.nav-active .nav_menu:before {
    transition-delay: 0s;
    display: block;
}

body.nav-active .nav__list-main {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-main {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item {
    transition-delay: 0.5s;
}

.Hoodie_gallery {
    padding: 40px 0px 0px 0px;
}

.Hoodie_product {
    padding: 80px 0px 0px 0px;
}

h1 {
    position: absolute;
    z-index: 10;
    font-family: 'BebasNeueRegular';
    color: #ffffff;
    font-size: 3em;
    letter-spacing: 3px;
    text-align: center;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
}

h3 {
    font-family: 'BebasNeueRegular';
}

:root {
    --z-distance: 8.519vw;
    --from-left: 1;
    --mobile-bkp: 650px;
}

.slider {
    width: 100vw;
    height: 100vh;
    display: flex;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.slider::before,
.slider::after {
    content: '';
    left: -1vw;
    top: -1vh;
    display: block;
    position: absolute;
    width: 102vw;
    height: 102vh;
    background-position: center;
    background-size: cover;
    will-change: opacity;
    z-index: -1;
    box-shadow: 0 0 0 50vmax rgba(0, 0, 0, 0.7) inset;
}

.slider::before {
    background-image: var(--img-prev);
}

.slider::after {
    transition: opacity 0.7s;
    opacity: 0;
    background-image: var(--img-next);
}

.slider--bg-next::after {
    opacity: 1;
}

.slider__content {
    margin: auto;
    width: 65vw;
    height: 32.5vw;
    max-height: 60vh;
    will-change: transform;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    pointer-events: none;
    -webkit-transform: translateZ(var(--z-distance));
    transform: translateZ(var(--z-distance));
}

.slider__images {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-shadow: 0 0 5em #000;
}

.slider__images-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    will-change: transform;
    transition-timing-function: ease-in;
    visibility: hidden;
}

.slider__images-item img {
    display: block;
    position: relative;
    left: -1em;
    top: -1em;
    width: calc(100% + 1em * 2);
    height: calc(100% + 1em * 2);
    -o-object-fit: cover;
    object-fit: cover;
    will-change: transform;
}

.slider__images-item--active {
    z-index: 20;
    visibility: visible;
}

.slider__images-item--subactive {
    z-index: 15;
    visibility: visible;
}

.slider__images-item--next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slider__images-item--prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slider__images-item--transit {
    transition: opacity 0.7s, -webkit-transform 0.7s;
    transition: transform 0.7s, opacity 0.7s;
    transition: transform 0.7s, opacity 0.7s, -webkit-transform 0.7s;
}

.slider__text {
    position: relative;
    height: 100%;
}

.slider__text-item {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.slider__text-item>* {
    overflow: hidden;
    position: absolute;
}

.slider__text-item h3,
.slider__text-item p {
    transition: -webkit-transform 0.35s ease-out;
    transition: transform 0.35s ease-out;
    transition: transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
    line-height: 1.5;
    overflow: hidden;
}

.slider__text-item h3 {
    background-color: rgba(255, 255, 255, 0.5);
}

.slider__text-item p {
    font-family: 'BebasNeueRegular';
    padding: 0.5em;
    font-size: 2em;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider__text-item h3::before,
.slider__text-item p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 100%;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: -webkit-transform 0.35s ease-out 0.28s;
    transition: transform 0.35s ease-out 0.28s;
    transition: transform 0.35s ease-out 0.28s, -webkit-transform 0.35s ease-out 0.28s;
}

.slider__text-item h3::before {
    background-color: #000;
}

.slider__text-item p::before {
    background-color: #fff;
}

.slider__text-item h3 {
    margin: 0;
    font-size: 3.5em;
    padding: 0 .3em;
    position: relative;
    font-weight: 700;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.slider__text-item p {
    margin: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.slider__text-item-head {
    top: -0.5em;
    -webkit-transform: translateZ(3em);
    transform: translateZ(3em);
}

.slider__text-item-info {
    bottom: 0;
    right: 0;
    max-width: 75%;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    -webkit-transform: translateZ(2em);
    transform: translateZ(2em);
}

.slider__text-item--active h3,
.slider__text-item--active p {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slider__text-item--active h3::before {
    -webkit-transform: translateX(102%);
    transform: translateX(102%);
}

.slider__text-item--active p::before {
    -webkit-transform: translateX(-102%);
    transform: translateX(-102%);
}

.slider__text-item--backwards h3::before,
.slider__text-item--backwards p::before {
    transition: -webkit-transform 0.35s ease-in;
    transition: transform 0.35s ease-in;
    transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
}

.slider__text-item--backwards h3,
.slider__text-item--backwards p {
    transition: -webkit-transform 0.35s ease-in 0.35s;
    transition: transform 0.35s ease-in 0.35s;
    transition: transform 0.35s ease-in 0.35s, -webkit-transform 0.35s ease-in 0.35s;
}

.slider__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slider__nav-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slider__nav-arrow {
    height: 100vh;
    width: 50vw;
    text-indent: -9999px;
    white-space: nowrap;
}

.slider__nav-arrow--left {
    --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='3 1 1 2 3 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
    cursor: var(--arrow) 40 40, auto;
}

.slider__nav-arrow--right {
    --arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 4 4'%3E %3Cpolyline points='1 1 3 2 1 3' stroke='white' stroke-width='.3' stroke-opacity='.5' fill='none'%3E%3C/polyline%3E %3C/svg%3E");
    cursor: var(--arrow) 40 40, auto;
}

.slider__nav-dots {
    margin-top: 88vh;
    display: inline-flex;
    position: relative;
    padding: 1em;
    pointer-events: none;
}

.slider__nav-dots::before {
    content: '';
    position: absolute;
    left: calc(1em + 1em + 2px);
    top: calc(1em + 2px);
    width: calc(1em - 2px * 2);
    height: calc(1em / 2 - 2px * 2);
    background-color: rgba(255, 255, 255, 0.9);
    transition: -webkit-transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
    -webkit-transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)));
    transform: translateX(calc((1em + 1em * 2) * (var(--from-left) - 1)));
}

.slider__nav-dot {
    margin: 0 1em;
    width: 1em;
    height: 0.5em;
    border: 2px solid rgba(255, 255, 255, 0.5);
    cursor: crosshair;
    pointer-events: all;
    display: inline-block;
}

.slider__nav-dot:hover {
    border-color: rgba(255, 255, 255, 0.7);
}

.slider__nav-dot:active {
    border-color: rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 650px) {

    .slider::before,
    .slider::after {
        display: none;
    }

    .slider__content {
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
    }

    .slider__text-item-info {
        bottom: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    }

    .slider__text-item-info p {
        padding: 1em .8em;
    }

    .slider__text-item-head {
        top: 5vh;
        left: 10vw;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    .slider__text-item-head h3 {
        font-size: 2.5em;
    }

    .slider__nav-dots {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .slider__nav-arrow {
        width: 10vw;
        position: relative;
        cursor: auto;
    }

    .slider__nav-arrow:active {
        -webkit-filter: brightness(0.5);
        filter: brightness(0.5);
    }

    .slider__nav-arrow::before {
        content: '';
        background-image: var(--arrow);
        background-size: cover;
        width: 8vw;
        height: 8vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .slider__nav-arrow--left {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, transparent 100%);
    }

    .slider__nav-arrow--left:active {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0, transparent 100%);
    }

    .slider__nav-arrow--right {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7) 0, transparent 100%);
    }

    .slider__nav-arrow--right:active {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0, transparent 100%);
    }
}

.Product_frame .Product_card .Product_Name {
    position: absolute;
}

.Product_frame .Product_card .Product_Price {
    position: absolute;
}

.Product_Name a {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000000 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.2s ease-out;
    font-family: "Poppins", sans-serif;
}

.Product_Name a:hover {
    background-position: -99.99% 0;
    transition: 0.2s;
}

.Product_Price a {
    color: #ffffff;
    font-size: 2.5em;
    line-height: 1.15em;
    text-decoration: none;
    font-family: 'BebasNeueRegular';
}

.Product_Price {
    left: 175px;
    z-index: 10;
    top: 450px;
}

.Product_frame {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 400px;
    height: 500px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: translateX(-5%) translateY(20%);
    transform: translateX(-5%) translateY(20%);
    z-index: 0;
}

.Product_frame .Product_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 2px rgba(30, 30, 20, 0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    overflow: hidden;
}

.Product_frame .Product_card img {
    display: block;
    position: relative;
    width: 150%;
    height: auto;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.Product_card {
    background-color: #303030;
}

.Product_mockup {
    right: 0;
    height: 600px;
    width: auto;
    float: right;
    position: fixed;
    padding: 3% 0% 0% 0%;
    display: block;
    z-index: 0;
}

.scrolldown {
    display: none;
    position: fixed;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(0%);
    transform: translateX(-50%) translateY(0%);
    filter: invert(0);
}

@media only screen and (max-width: 1200px) {
    .Product_mockup {
        display: none;
    }

    .Product_frame {
        top: 50%;
        left: 50%;
        width: 640px;
        height: 800px;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform: translateX(-50%) translateY(-70%);
        transform: translateX(-50%) translateY(-70%);
    }

    .Product_Price a {
        color: #ffffff;
        font-size: 4em;
        line-height: 10em;
        text-decoration: none;
        font-family: 'BebasNeueRegular';
    }

    .Product_Price {
        left: 280px;
        z-index: 10;
        top: 450px;
    }    
    
    .scrolldown {
        display: block;
        position: fixed;
        top: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(0%);
        transform: translateX(-50%) translateY(0%);
        filter: invert(0);
    }
}