* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: #151515;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 100000;
}

.navlogo {
  height: 80px;
  width: auto;
  position: fixed;
  top: 0%;
  left: 48%;
}

.menu-icon {
  height: 30px;
  width: 30px;
  position: fixed;
  z-index: 2;
  left: 50px;
  top: 35px;
  cursor: pointer;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  transition: background-color .5s ease, -webkit-transform .2s ease;
  transition: transform .2s ease, background-color .5s ease;
  transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav_menu {
  position: fixed;
  z-index: 1;
}

.nav_menu:before,
.nav_menu:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(0%) translateY(-100%);
  transform: translateX(0%) translateY(-100%);
}

.nav_menu:after {
  background: white;
  transition-delay: 0s;
}

.nav_menu:before {
  transition-delay: .1s;
}

.nav__content {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
}

.nav__list-item {
  font-family: 'BebasNeueRegular';
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-right: 25px;
  font-size: 40px;
  padding: 10px 0px 0px 0px;
}

.nav__list-item:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 2px;
  top: 85%;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  transition: all .3s ease;
  z-index: -1;
  font-size: 40px;
}

.nav__list-main {
  font-family: 'BebasNeueRegular';
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  transition: opacity .2s ease, -webkit-transform .3s ease;
  transition: opacity .2s ease, transform .3s ease;
  transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
  margin-right: 25px;
  font-size: 70px;
  padding: 100px 80px 10px 80px;
}

.nav__list-main:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 20px;
  height: 3px;
  top: 85%;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  transition: all .3s ease;
  z-index: -1;
  font-size: 60px;
}

.nav__list-item:hover:before {
  width: 100%;
}

#men:hover:before {
  width: 36%;
  z-index: 1000;
}

#women:hover:before {
  width: 50%;
  z-index: 1000;
}

body.nav-active .menu-icon__line {
  background-color: #ffffff;
  -webkit-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav_menu {
  visibility: visible;
}

body.nav-active .nav_menu:before,
body.nav-active .nav_menu:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav_menu:after {
  transition-delay: .1s;
}

body.nav-active .nav_menu:before {
  transition-delay: 0s;
  display: block;
}

body.nav-active .nav__list-main {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-main {
  transition-delay: 0.5s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease;
  transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item {
  transition-delay: 0.5s;
}

h2 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  text-align: center;
}

h4 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}

.text {
  left: 50%;
  transform: translate(22%, 0%);
}