@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html,
body {
    background: radial-gradient(ellipse at bottom, #333333 0%, #1d1d1d 100%);
    width: 100%;
    height: 5000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

img {
    image-rendering: crisp-edges;
}

.intro_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    background-color: #242424;
    display: block;
}

.navbar {
    background-color: #151515;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100000000000;
}

.navlogo {
    height: 80px;
    width: auto;
    position: fixed;
    top: 0%;
    left: 48%;
}

.navcart {
    height: 60px;
    width: auto;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
}

h6.shopping_cart_amount {
    position: fixed;
    top: -23px;
    right: 49px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-emphasis: bold;
    z-index: 2;
}

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 35px;
    cursor: pointer;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
    width: 15px;
}

.menu-icon__line-right {
    width: 15px;
    float: right;
}

.nav_menu {
    position: fixed;
    z-index: 1;
}

.nav_menu:before,
.nav_menu:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
}

.nav_menu:after {
    background: white;
    transition-delay: 0s;
}

.nav_menu:before {
    transition-delay: .1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.nav__list-item {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 40px;
    padding: 10px 0px 0px 0px;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 2px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 40px;
}

.nav__list-main {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 70px;
    padding: 100px 80px 10px 80px;
}

.nav__list-main:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 3px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 60px;
}

.nav__list-item:hover:before {
    width: 100%;
}

#men:hover:before {
    width: 36%;
}

#women:hover:before {
    width: 50%;
}

body.nav-active .menu-icon__line {
    background-color: #ffffff;
    -webkit-transform: translateX(0px) rotate(-45deg);
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
    -webkit-transform: translateX(1px) rotate(45deg);
    transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    -webkit-transform: translateX(-2px) rotate(45deg);
    transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav_menu {
    visibility: visible;
}

body.nav-active .nav_menu:before,
body.nav-active .nav_menu:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav_menu:after {
    transition-delay: .1s;
}

body.nav-active .nav_menu:before {
    transition-delay: 0s;
    display: block;
}

body.nav-active .nav__list-main {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-main {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item {
    transition-delay: 0.5s;
}

@-webkit-keyframes small {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 2rem);
        transform: translate(0, 2rem);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes big {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, 2rem);
        transform: translate(0, 2rem);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes big {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, -3rem);
        transform: translate(0, -3rem);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes big {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    50% {
        -webkit-transform: translate(0, -3rem);
        transform: translate(0, -3rem);
    }

    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.product {
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    z-index: 2;
    padding: 0 2rem;
}

canvas {
    height: 100%;
    width: 99.4%;
    -webkit-filter: blur(2px);
    opacity: 0.2;
    position: absolute;
    top: 0;
}

.product-photo {
    padding: 80px 0px 0px 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: relative;
}

.product-photo img:nth-child(1) {
    width: 10px;
    height: auto;
    margin-top: 10%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation-name: small;
    animation-name: small;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.product-photo img:nth-child(2) {
    width: 500px;
    height: auto;
    -webkit-animation-name: big;
    animation-name: big;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-direction: reverse;
}

.Plain_text {
    width: 100%;
    height: auto;
}

.product-color {
    margin: 5px 0px;
}

.product-color {
    list-style: none;
}

.product-color li {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0px 7px;
}

.product-color li input {
    position: absolute;
    left: 0;
    top: -300%;
    opacity: 0;
    visibility: hidden;
}

.product-color li input:checked+label {
    border-color: #6CA1AD;
    opacity: 1;
}

.product-color li input:checked+label:after {
    content: "";
    opacity: 1;
}

.product-color li label {
    width: 50px;
    color: #fff;
    height: 50px;
    line-height: 26px;
    border-radius: 26px;
    display: inline-block;
    position: relative;
    border: 2px solid #535151;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.product-color li label:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: 50%;
    margin-top: -7px;
    font: normal normal normal 14px FontAwesome;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    moz-transition: opacity 0.3s ease-in-out;
    o-transition: opacity 0.3s ease-in-out;
}

.wrap-drop {
    background: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
    margin: 0 auto;
    max-width: 300px;
    padding: 1em;
    position: absolute;
    width: 75%;
    z-index: 3;
}

.wrap-drop::after {
    border-color: black transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    content: "";
    height: 0;
    margin-top: -4px;
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 0;
}

.wrap-drop .drop {
    background: #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    list-style: none;
    margin-top: 0;
    opacity: 0;
    padding-left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
}

.wrap-drop .drop li {
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap-drop span {
    color: black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap-drop .drop li:hover {
    background-color: #a7a7a7;
    color: black;
}

.wrap-drop.active::after {
    border-width: 0 10px 10px;
}

.wrap-drop.active .drop {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.underpicture {
    z-index: 1000;
    width: 300px;
    height: auto;
    transform: translate(20%, -20%);
}

@media only screen and (max-width: 1350px) {
    .wrap-drop {
        max-width: 200px;
    }

    #paypal-button-container {
        width: 100%;
        left: 0%;
        position: relative;
    }
}

@media only screen and (max-width: 1100px) {
    .wrap-drop {
        max-width: 150px;
    }

    .underpicture {
        z-index: 1000;
        width: 500px;
        height: auto;
        transform: translate(45%, -20%);
    }

    #paypal-button-container {
        width: 100%;
        left: 12%;
        position: relative;
    }
}

@media only screen and (max-width: 980px) {
    .underpicture {
        transform: translate(45%, -10%);
    }

    .small {
        position: absolute;
    }

    #paypal-button-container {
        width: 100%;
        left: 12%;
        position: relative;
    }
}

@media only screen and (max-width: 450px) {
    .wrap-drop {
        max-width: 200px;
    }

    .underpicture {
        z-index: 1000;
        width: 300px;
        height: auto;
        transform: translate(45%, 0%);
    }

    #paypal-button-container {
        width: 100%;
        left: 12%;
        position: relative;
    }
}

@media only screen and (max-width: 375px) {
    .wrap-drop {
        max-width: 150px;
    }

    .underpicture {
        z-index: 1000;
        width: 300px;
        height: auto;
        transform: translate(0%, 0%);
    }

    #paypal-button-container {
        width: 100%;
        left: 12%;
        position: relative;
    }
}

#stars {
    width: 1px;
    height: 1px;
    opacity: 0.6;
    background: transparent;
    box-shadow: 964px 1398px #FFF, 1790px 1028px #FFF, 1723px 1139px #FFF, 167px 706px #FFF, 1679px 1136px #FFF, 37px 1042px #FFF, 1765px 87px #FFF, 1237px 1897px #FFF, 93px 995px #FFF, 1440px 1187px #FFF, 860px 1929px #FFF, 1661px 759px #FFF, 765px 1538px #FFF, 1338px 1711px #FFF, 1995px 482px #FFF, 1980px 1264px #FFF, 1619px 749px #FFF, 852px 1480px #FFF, 496px 791px #FFF, 940px 273px #FFF, 67px 527px #FFF, 364px 496px #FFF, 1884px 1618px #FFF, 158px 974px #FFF, 1469px 1558px #FFF, 291px 577px #FFF, 857px 1891px #FFF, 1958px 1077px #FFF, 510px 1393px #FFF, 501px 255px #FFF, 1267px 1440px #FFF, 1894px 343px #FFF, 1293px 762px #FFF, 313px 1745px #FFF, 1550px 1082px #FFF, 1582px 503px #FFF, 98px 1268px #FFF, 1976px 132px #FFF, 984px 1994px #FFF, 1751px 1465px #FFF, 456px 1977px #FFF, 1063px 1438px #FFF, 244px 1517px #FFF, 1661px 1204px #FFF, 1566px 1979px #FFF, 1381px 1481px #FFF, 1640px 1368px #FFF, 191px 868px #FFF, 1028px 613px #FFF, 1876px 1086px #FFF, 1042px 890px #FFF, 1402px 1655px #FFF, 1098px 1445px #FFF, 1785px 1821px #FFF, 76px 1361px #FFF, 656px 1843px #FFF, 1760px 404px #FFF, 478px 656px #FFF, 362px 1088px #FFF, 1572px 1783px #FFF, 1827px 473px #FFF, 1696px 1587px #FFF, 1953px 1830px #FFF, 1070px 652px #FFF, 1648px 1116px #FFF, 1636px 610px #FFF, 624px 264px #FFF, 1834px 1312px #FFF, 1285px 341px #FFF, 965px 121px #FFF, 1775px 1544px #FFF, 1805px 1314px #FFF, 1882px 1668px #FFF, 336px 734px #FFF, 798px 1827px #FFF, 1966px 546px #FFF, 367px 1970px #FFF, 322px 1805px #FFF, 394px 1226px #FFF, 568px 129px #FFF, 917px 552px #FFF, 1341px 277px #FFF, 1496px 1574px #FFF, 282px 637px #FFF, 1995px 973px #FFF, 1743px 1846px #FFF, 463px 452px #FFF, 1290px 1440px #FFF, 1358px 1158px #FFF, 771px 1006px #FFF, 822px 265px #FFF, 888px 456px #FFF, 986px 1949px #FFF, 40px 16px #FFF, 308px 1773px #FFF, 95px 1383px #FFF, 1534px 1116px #FFF, 369px 990px #FFF, 1202px 1962px #FFF, 1285px 817px #FFF, 1463px 1778px #FFF, 688px 1441px #FFF, 413px 1489px #FFF, 1498px 18px #FFF, 1958px 579px #FFF, 293px 1818px #FFF, 259px 753px #FFF, 1922px 1166px #FFF, 1447px 529px #FFF, 448px 424px #FFF, 1188px 1592px #FFF, 904px 1954px #FFF, 1185px 635px #FFF, 1558px 535px #FFF, 124px 288px #FFF, 1112px 294px #FFF, 800px 964px #FFF, 1961px 936px #FFF, 1809px 1159px #FFF, 735px 647px #FFF, 459px 801px #FFF, 1622px 447px #FFF, 887px 156px #FFF, 392px 813px #FFF, 1069px 1767px #FFF, 1959px 765px #FFF, 211px 210px #FFF, 282px 1270px #FFF, 595px 1594px #FFF, 793px 62px #FFF, 528px 936px #FFF, 1411px 1113px #FFF, 421px 598px #FFF, 1732px 577px #FFF, 373px 521px #FFF, 823px 454px #FFF, 1743px 1027px #FFF, 1702px 1147px #FFF, 1227px 1544px #FFF, 275px 1841px #FFF, 232px 711px #FFF, 553px 1157px #FFF, 1941px 1217px #FFF, 1800px 1909px #FFF, 1458px 303px #FFF, 498px 1160px #FFF, 1198px 1403px #FFF, 1369px 1614px #FFF, 642px 1948px #FFF, 1266px 1043px #FFF, 721px 1688px #FFF, 8px 1648px #FFF, 1819px 1314px #FFF, 1138px 2px #FFF, 1055px 1217px #FFF, 861px 78px #FFF, 982px 20px #FFF, 507px 1514px #FFF, 689px 1913px #FFF, 1943px 1004px #FFF, 811px 1947px #FFF, 354px 1179px #FFF, 1406px 1974px #FFF, 1732px 720px #FFF, 329px 345px #FFF, 1545px 1498px #FFF, 1261px 1510px #FFF, 1247px 505px #FFF, 724px 966px #FFF, 1454px 1246px #FFF, 1329px 410px #FFF, 140px 1854px #FFF, 1928px 609px #FFF, 1554px 1987px #FFF, 1759px 474px #FFF, 376px 1338px #FFF, 1501px 938px #FFF, 230px 194px #FFF, 1071px 1012px #FFF, 647px 1500px #FFF, 255px 1308px #FFF, 1281px 379px #FFF, 1971px 1892px #FFF, 348px 1030px #FFF, 1484px 1968px #FFF, 1947px 503px #FFF, 663px 604px #FFF, 837px 1064px #FFF, 16px 345px #FFF, 1653px 1900px #FFF, 1608px 1948px #FFF, 1888px 1352px #FFF, 1958px 271px #FFF, 69px 1771px #FFF, 1813px 1926px #FFF, 957px 1531px #FFF, 776px 949px #FFF, 1804px 1444px #FFF, 1178px 646px #FFF, 13px 973px #FFF, 1852px 1117px #FFF, 1391px 10px #FFF, 1053px 1560px #FFF, 923px 1340px #FFF, 1737px 1639px #FFF, 1276px 350px #FFF, 5px 255px #FFF, 1295px 1924px #FFF, 636px 920px #FFF, 575px 1312px #FFF, 149px 976px #FFF, 837px 1890px #FFF, 767px 915px #FFF, 250px 1000px #FFF, 559px 158px #FFF, 895px 622px #FFF, 1651px 873px #FFF, 1612px 1704px #FFF, 1298px 675px #FFF, 1437px 233px #FFF, 1020px 851px #FFF, 1054px 25px #FFF, 667px 1439px #FFF, 1820px 1759px #FFF, 34px 1093px #FFF, 712px 526px #FFF, 136px 365px #FFF, 1818px 1640px #FFF, 354px 1155px #FFF, 58px 1420px #FFF, 1452px 156px #FFF, 1443px 854px #FFF, 42px 691px #FFF, 257px 336px #FFF, 466px 829px #FFF, 1341px 1951px #FFF, 1473px 1895px #FFF, 1198px 1382px #FFF, 1171px 1349px #FFF, 1378px 1342px #FFF, 163px 1807px #FFF, 1360px 1442px #FFF, 134px 748px #FFF, 458px 1673px #FFF, 185px 592px #FFF, 1980px 574px #FFF, 1266px 1493px #FFF, 559px 787px #FFF, 1453px 222px #FFF, 1057px 1721px #FFF, 407px 50px #FFF, 1968px 93px #FFF, 1493px 1670px #FFF, 1669px 655px #FFF, 736px 779px #FFF, 1943px 1707px #FFF, 12px 455px #FFF, 583px 928px #FFF, 838px 1906px #FFF, 936px 1677px #FFF, 258px 1666px #FFF, 1951px 396px #FFF, 1075px 1095px #FFF, 1785px 457px #FFF, 231px 313px #FFF, 701px 662px #FFF, 1492px 977px #FFF, 1892px 1946px #FFF, 263px 250px #FFF, 304px 1387px #FFF, 295px 564px #FFF, 918px 798px #FFF, 1708px 1805px #FFF, 1018px 1093px #FFF, 1877px 1575px #FFF, 1622px 1376px #FFF, 972px 797px #FFF, 1648px 533px #FFF, 1713px 1828px #FFF, 209px 992px #FFF, 1702px 105px #FFF, 1698px 686px #FFF, 378px 1052px #FFF, 1912px 1200px #FFF, 972px 1762px #FFF, 1775px 1510px #FFF, 29px 352px #FFF, 1809px 1589px #FFF, 1858px 62px #FFF, 997px 991px #FFF, 769px 114px #FFF, 781px 14px #FFF, 810px 630px #FFF, 201px 617px #FFF, 148px 1028px #FFF, 168px 552px #FFF, 770px 1063px #FFF, 525px 547px #FFF, 1277px 295px #FFF, 1976px 1442px #FFF, 1974px 1121px #FFF, 421px 1462px #FFF, 711px 6px #FFF, 1907px 708px #FFF, 1026px 493px #FFF, 1326px 1592px #FFF, 126px 1709px #FFF, 1174px 161px #FFF, 1164px 436px #FFF, 45px 664px #FFF, 215px 317px #FFF, 286px 253px #FFF, 1678px 103px #FFF, 1409px 1278px #FFF, 485px 432px #FFF, 62px 463px #FFF, 1367px 1429px #FFF, 464px 509px #FFF, 764px 945px #FFF, 274px 1684px #FFF, 1016px 977px #FFF, 1938px 1318px #FFF, 414px 524px #FFF, 675px 996px #FFF, 573px 177px #FFF, 263px 840px #FFF, 1895px 1706px #FFF, 1247px 763px #FFF, 564px 838px #FFF, 552px 1929px #FFF, 1686px 1164px #FFF, 1120px 904px #FFF, 1276px 256px #FFF, 1345px 1648px #FFF, 126px 754px #FFF, 1326px 1458px #FFF, 251px 980px #FFF, 213px 1811px #FFF, 1756px 1833px #FFF, 23px 1508px #FFF, 995px 464px #FFF, 1521px 1751px #FFF, 633px 601px #FFF, 1959px 761px #FFF, 1620px 1963px #FFF, 891px 1189px #FFF, 1866px 1709px #FFF, 870px 1002px #FFF, 1935px 662px #FFF, 1302px 640px #FFF, 282px 1108px #FFF, 92px 768px #FFF, 1491px 331px #FFF, 465px 1730px #FFF, 1698px 1784px #FFF, 1620px 1637px #FFF, 1020px 814px #FFF, 1609px 925px #FFF, 313px 842px #FFF, 459px 1425px #FFF, 442px 456px #FFF, 1949px 204px #FFF, 50px 1341px #FFF, 717px 626px #FFF, 1198px 1635px #FFF, 1556px 100px #FFF, 687px 1111px #FFF, 1167px 1453px #FFF, 1910px 297px #FFF, 452px 951px #FFF, 1027px 1423px #FFF, 1051px 1129px #FFF, 699px 1550px #FFF, 620px 116px #FFF, 1434px 901px #FFF, 22px 1515px #FFF, 1836px 476px #FFF, 1220px 1268px #FFF, 86px 1776px #FFF, 134px 1241px #FFF, 1114px 1335px #FFF, 1945px 990px #FFF, 1833px 951px #FFF, 577px 948px #FFF, 1459px 1403px #FFF, 1418px 847px #FFF, 1026px 682px #FFF, 731px 1192px #FFF, 675px 1463px #FFF, 1494px 1372px #FFF, 1415px 478px #FFF, 842px 675px #FFF, 226px 605px #FFF, 1679px 1445px #FFF, 268px 696px #FFF, 1104px 832px #FFF, 525px 1019px #FFF, 24px 1753px #FFF, 609px 597px #FFF, 1840px 447px #FFF, 1204px 861px #FFF, 1067px 642px #FFF, 1105px 1259px #FFF, 22px 54px #FFF, 152px 1289px #FFF, 296px 933px #FFF, 360px 545px #FFF, 355px 82px #FFF, 367px 838px #FFF, 602px 269px #FFF, 399px 570px #FFF, 1373px 1383px #FFF, 1166px 536px #FFF, 1810px 208px #FFF, 1637px 832px #FFF, 678px 205px #FFF, 1503px 1675px #FFF, 448px 1154px #FFF, 1795px 1720px #FFF, 195px 1808px #FFF, 1796px 1109px #FFF, 998px 1180px #FFF, 1904px 1624px #FFF, 36px 432px #FFF, 509px 1482px #FFF, 394px 1969px #FFF, 910px 964px #FFF, 741px 1518px #FFF, 1860px 1905px #FFF, 504px 1268px #FFF, 1369px 528px #FFF, 831px 569px #FFF, 1281px 847px #FFF, 1444px 170px #FFF, 775px 1889px #FFF, 218px 870px #FFF, 1161px 1495px #FFF, 246px 986px #FFF, 833px 12px #FFF, 1700px 1132px #FFF, 600px 275px #FFF, 646px 814px #FFF, 61px 874px #FFF, 703px 1443px #FFF, 1517px 1760px #FFF, 1730px 896px #FFF, 1125px 1020px #FFF, 88px 1669px #FFF, 293px 1622px #FFF, 1186px 1590px #FFF, 1293px 1379px #FFF, 712px 216px #FFF, 1862px 1724px #FFF, 465px 553px #FFF, 81px 638px #FFF, 460px 220px #FFF, 635px 1120px #FFF, 1270px 1722px #FFF, 1032px 1593px #FFF, 533px 219px #FFF, 843px 1245px #FFF, 140px 268px #FFF, 1182px 1479px #FFF, 36px 566px #FFF, 698px 739px #FFF, 956px 381px #FFF, 929px 1714px #FFF, 604px 880px #FFF, 1641px 1114px #FFF, 1272px 1104px #FFF, 1020px 316px #FFF, 1807px 623px #FFF, 1358px 132px #FFF, 750px 569px #FFF, 1089px 71px #FFF, 1158px 1435px #FFF, 1008px 478px #FFF, 1486px 1985px #FFF, 580px 1352px #FFF, 172px 1121px #FFF, 974px 1188px #FFF, 1493px 1454px #FFF, 251px 59px #FFF, 569px 1514px #FFF, 1344px 255px #FFF, 1180px 168px #FFF, 239px 603px #FFF, 618px 1665px #FFF, 341px 778px #FFF, 1203px 1870px #FFF, 212px 1824px #FFF, 1387px 693px #FFF, 167px 1938px #FFF, 1958px 1550px #FFF, 1019px 872px #FFF, 462px 1663px #FFF, 628px 888px #FFF, 1623px 749px #FFF, 1186px 58px #FFF, 791px 253px #FFF, 882px 1726px #FFF, 336px 218px #FFF, 1669px 691px #FFF, 1643px 1373px #FFF, 1849px 1378px #FFF, 654px 1354px #FFF, 1313px 466px #FFF, 922px 642px #FFF, 1484px 536px #FFF, 1082px 392px #FFF, 1447px 309px #FFF, 968px 682px #FFF, 1099px 962px #FFF, 1608px 415px #FFF, 797px 1722px #FFF, 957px 1666px #FFF, 1724px 367px #FFF, 1373px 346px #FFF, 732px 1493px #FFF, 1049px 1848px #FFF, 1197px 763px #FFF, 1527px 1218px #FFF, 1500px 1511px #FFF, 1075px 219px #FFF, 1911px 825px #FFF, 1942px 1251px #FFF, 687px 1879px #FFF, 1227px 1134px #FFF, 364px 1330px #FFF, 404px 668px #FFF, 1677px 1287px #FFF, 69px 269px #FFF, 1127px 1529px #FFF, 241px 947px #FFF, 761px 724px #FFF, 267px 768px #FFF, 1396px 1363px #FFF, 852px 303px #FFF, 1785px 182px #FFF, 1990px 639px #FFF, 1643px 200px #FFF, 285px 1484px #FFF, 705px 389px #FFF, 1141px 1765px #FFF, 1198px 764px #FFF, 800px 797px #FFF, 980px 175px #FFF, 815px 387px #FFF, 50px 1519px #FFF, 1326px 1760px #FFF, 967px 1563px #FFF, 274px 927px #FFF, 1028px 139px #FFF, 498px 361px #FFF, 131px 5px #FFF, 1906px 491px #FFF, 1117px 111px #FFF, 355px 328px #FFF, 1422px 1230px #FFF, 1303px 149px #FFF, 821px 1311px #FFF, 1658px 636px #FFF, 552px 1096px #FFF, 140px 566px #FFF, 245px 1193px #FFF, 1883px 1633px #FFF, 870px 220px #FFF, 364px 1218px #FFF, 1941px 1682px #FFF, 995px 1433px #FFF, 873px 1202px #FFF, 1057px 1080px #FFF, 1884px 247px #FFF, 311px 1429px #FFF, 1887px 1564px #FFF, 248px 1456px #FFF, 1681px 1663px #FFF, 406px 929px #FFF, 1953px 1712px #FFF, 1684px 644px #FFF, 1529px 979px #FFF, 1102px 756px #FFF, 693px 98px #FFF, 503px 147px #FFF, 1639px 780px #FFF, 1701px 138px #FFF, 1571px 874px #FFF, 50px 1001px #FFF, 1459px 1577px #FFF, 1822px 1207px #FFF, 1081px 432px #FFF, 544px 830px #FFF, 728px 482px #FFF, 1641px 229px #FFF, 808px 275px #FFF, 455px 633px #FFF, 1204px 497px #FFF, 277px 1870px #FFF, 794px 1190px #FFF, 1930px 1302px #FFF, 1421px 1084px #FFF, 1346px 787px #FFF, 1322px 467px #FFF, 480px 542px #FFF, 640px 1394px #FFF, 1653px 901px #FFF, 227px 1324px #FFF, 1083px 1204px #FFF, 1066px 1156px #FFF, 917px 1419px #FFF, 1590px 1106px #FFF, 837px 510px #FFF, 913px 1745px #FFF, 1937px 1337px #FFF, 1272px 1420px #FFF, 546px 1693px #FFF, 1086px 289px #FFF, 1975px 282px #FFF, 542px 234px #FFF, 266px 776px #FFF, 1039px 1431px #FFF, 873px 332px #FFF, 1413px 1007px #FFF, 615px 723px #FFF, 978px 1375px #FFF, 818px 1277px #FFF, 1006px 458px #FFF, 742px 1098px #FFF, 1813px 697px #FFF, 1838px 1772px #FFF, 304px 74px #FFF, 1851px 207px #FFF, 635px 473px #FFF, 1309px 928px #FFF, 1978px 1767px #FFF, 1147px 1353px #FFF, 1921px 1311px #FFF, 560px 1469px #FFF, 1139px 275px #FFF, 524px 371px #FFF, 1065px 1019px #FFF, 1854px 1191px #FFF, 463px 807px #FFF, 1920px 688px #FFF, 1737px 175px #FFF, 541px 30px #FFF, 235px 143px #FFF, 124px 130px #FFF, 1734px 683px #FFF, 628px 1607px #FFF, 317px 1419px #FFF, 1792px 154px #FFF, 321px 1962px #FFF, 1261px 787px #FFF, 329px 643px #FFF, 887px 1907px #FFF, 1624px 592px #FFF, 582px 1199px #FFF, 496px 1124px #FFF, 1324px 730px #FFF, 713px 361px #FFF, 1040px 985px #FFF, 218px 641px #FFF, 844px 132px #FFF, 518px 1737px #FFF, 1130px 801px #FFF, 59px 459px #FFF, 238px 1751px #FFF, 1174px 1080px #FFF, 1403px 526px #FFF, 219px 713px #FFF, 600px 1397px #FFF, 253px 964px #FFF, 344px 829px #FFF, 91px 135px #FFF, 264px 236px #FFF, 102px 1832px #FFF, 319px 374px #FFF, 1239px 647px #FFF, 215px 17px #FFF, 1299px 1153px #FFF, 1019px 200px #FFF, 401px 155px #FFF, 1875px 1664px #FFF, 1100px 192px #FFF, 1688px 1066px #FFF, 182px 645px #FFF, 453px 139px #FFF, 208px 1690px #FFF, 431px 925px #FFF, 1220px 1350px #FFF, 1126px 1367px #FFF, 1556px 1244px #FFF, 1232px 614px #FFF, 314px 557px #FFF, 417px 1277px #FFF, 978px 946px #FFF, 390px 321px #FFF, 906px 1478px #FFF, 440px 25px #FFF;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 964px 1398px #FFF, 1790px 1028px #FFF, 1723px 1139px #FFF, 167px 706px #FFF, 1679px 1136px #FFF, 37px 1042px #FFF, 1765px 87px #FFF, 1237px 1897px #FFF, 93px 995px #FFF, 1440px 1187px #FFF, 860px 1929px #FFF, 1661px 759px #FFF, 765px 1538px #FFF, 1338px 1711px #FFF, 1995px 482px #FFF, 1980px 1264px #FFF, 1619px 749px #FFF, 852px 1480px #FFF, 496px 791px #FFF, 940px 273px #FFF, 67px 527px #FFF, 364px 496px #FFF, 1884px 1618px #FFF, 158px 974px #FFF, 1469px 1558px #FFF, 291px 577px #FFF, 857px 1891px #FFF, 1958px 1077px #FFF, 510px 1393px #FFF, 501px 255px #FFF, 1267px 1440px #FFF, 1894px 343px #FFF, 1293px 762px #FFF, 313px 1745px #FFF, 1550px 1082px #FFF, 1582px 503px #FFF, 98px 1268px #FFF, 1976px 132px #FFF, 984px 1994px #FFF, 1751px 1465px #FFF, 456px 1977px #FFF, 1063px 1438px #FFF, 244px 1517px #FFF, 1661px 1204px #FFF, 1566px 1979px #FFF, 1381px 1481px #FFF, 1640px 1368px #FFF, 191px 868px #FFF, 1028px 613px #FFF, 1876px 1086px #FFF, 1042px 890px #FFF, 1402px 1655px #FFF, 1098px 1445px #FFF, 1785px 1821px #FFF, 76px 1361px #FFF, 656px 1843px #FFF, 1760px 404px #FFF, 478px 656px #FFF, 362px 1088px #FFF, 1572px 1783px #FFF, 1827px 473px #FFF, 1696px 1587px #FFF, 1953px 1830px #FFF, 1070px 652px #FFF, 1648px 1116px #FFF, 1636px 610px #FFF, 624px 264px #FFF, 1834px 1312px #FFF, 1285px 341px #FFF, 965px 121px #FFF, 1775px 1544px #FFF, 1805px 1314px #FFF, 1882px 1668px #FFF, 336px 734px #FFF, 798px 1827px #FFF, 1966px 546px #FFF, 367px 1970px #FFF, 322px 1805px #FFF, 394px 1226px #FFF, 568px 129px #FFF, 917px 552px #FFF, 1341px 277px #FFF, 1496px 1574px #FFF, 282px 637px #FFF, 1995px 973px #FFF, 1743px 1846px #FFF, 463px 452px #FFF, 1290px 1440px #FFF, 1358px 1158px #FFF, 771px 1006px #FFF, 822px 265px #FFF, 888px 456px #FFF, 986px 1949px #FFF, 40px 16px #FFF, 308px 1773px #FFF, 95px 1383px #FFF, 1534px 1116px #FFF, 369px 990px #FFF, 1202px 1962px #FFF, 1285px 817px #FFF, 1463px 1778px #FFF, 688px 1441px #FFF, 413px 1489px #FFF, 1498px 18px #FFF, 1958px 579px #FFF, 293px 1818px #FFF, 259px 753px #FFF, 1922px 1166px #FFF, 1447px 529px #FFF, 448px 424px #FFF, 1188px 1592px #FFF, 904px 1954px #FFF, 1185px 635px #FFF, 1558px 535px #FFF, 124px 288px #FFF, 1112px 294px #FFF, 800px 964px #FFF, 1961px 936px #FFF, 1809px 1159px #FFF, 735px 647px #FFF, 459px 801px #FFF, 1622px 447px #FFF, 887px 156px #FFF, 392px 813px #FFF, 1069px 1767px #FFF, 1959px 765px #FFF, 211px 210px #FFF, 282px 1270px #FFF, 595px 1594px #FFF, 793px 62px #FFF, 528px 936px #FFF, 1411px 1113px #FFF, 421px 598px #FFF, 1732px 577px #FFF, 373px 521px #FFF, 823px 454px #FFF, 1743px 1027px #FFF, 1702px 1147px #FFF, 1227px 1544px #FFF, 275px 1841px #FFF, 232px 711px #FFF, 553px 1157px #FFF, 1941px 1217px #FFF, 1800px 1909px #FFF, 1458px 303px #FFF, 498px 1160px #FFF, 1198px 1403px #FFF, 1369px 1614px #FFF, 642px 1948px #FFF, 1266px 1043px #FFF, 721px 1688px #FFF, 8px 1648px #FFF, 1819px 1314px #FFF, 1138px 2px #FFF, 1055px 1217px #FFF, 861px 78px #FFF, 982px 20px #FFF, 507px 1514px #FFF, 689px 1913px #FFF, 1943px 1004px #FFF, 811px 1947px #FFF, 354px 1179px #FFF, 1406px 1974px #FFF, 1732px 720px #FFF, 329px 345px #FFF, 1545px 1498px #FFF, 1261px 1510px #FFF, 1247px 505px #FFF, 724px 966px #FFF, 1454px 1246px #FFF, 1329px 410px #FFF, 140px 1854px #FFF, 1928px 609px #FFF, 1554px 1987px #FFF, 1759px 474px #FFF, 376px 1338px #FFF, 1501px 938px #FFF, 230px 194px #FFF, 1071px 1012px #FFF, 647px 1500px #FFF, 255px 1308px #FFF, 1281px 379px #FFF, 1971px 1892px #FFF, 348px 1030px #FFF, 1484px 1968px #FFF, 1947px 503px #FFF, 663px 604px #FFF, 837px 1064px #FFF, 16px 345px #FFF, 1653px 1900px #FFF, 1608px 1948px #FFF, 1888px 1352px #FFF, 1958px 271px #FFF, 69px 1771px #FFF, 1813px 1926px #FFF, 957px 1531px #FFF, 776px 949px #FFF, 1804px 1444px #FFF, 1178px 646px #FFF, 13px 973px #FFF, 1852px 1117px #FFF, 1391px 10px #FFF, 1053px 1560px #FFF, 923px 1340px #FFF, 1737px 1639px #FFF, 1276px 350px #FFF, 5px 255px #FFF, 1295px 1924px #FFF, 636px 920px #FFF, 575px 1312px #FFF, 149px 976px #FFF, 837px 1890px #FFF, 767px 915px #FFF, 250px 1000px #FFF, 559px 158px #FFF, 895px 622px #FFF, 1651px 873px #FFF, 1612px 1704px #FFF, 1298px 675px #FFF, 1437px 233px #FFF, 1020px 851px #FFF, 1054px 25px #FFF, 667px 1439px #FFF, 1820px 1759px #FFF, 34px 1093px #FFF, 712px 526px #FFF, 136px 365px #FFF, 1818px 1640px #FFF, 354px 1155px #FFF, 58px 1420px #FFF, 1452px 156px #FFF, 1443px 854px #FFF, 42px 691px #FFF, 257px 336px #FFF, 466px 829px #FFF, 1341px 1951px #FFF, 1473px 1895px #FFF, 1198px 1382px #FFF, 1171px 1349px #FFF, 1378px 1342px #FFF, 163px 1807px #FFF, 1360px 1442px #FFF, 134px 748px #FFF, 458px 1673px #FFF, 185px 592px #FFF, 1980px 574px #FFF, 1266px 1493px #FFF, 559px 787px #FFF, 1453px 222px #FFF, 1057px 1721px #FFF, 407px 50px #FFF, 1968px 93px #FFF, 1493px 1670px #FFF, 1669px 655px #FFF, 736px 779px #FFF, 1943px 1707px #FFF, 12px 455px #FFF, 583px 928px #FFF, 838px 1906px #FFF, 936px 1677px #FFF, 258px 1666px #FFF, 1951px 396px #FFF, 1075px 1095px #FFF, 1785px 457px #FFF, 231px 313px #FFF, 701px 662px #FFF, 1492px 977px #FFF, 1892px 1946px #FFF, 263px 250px #FFF, 304px 1387px #FFF, 295px 564px #FFF, 918px 798px #FFF, 1708px 1805px #FFF, 1018px 1093px #FFF, 1877px 1575px #FFF, 1622px 1376px #FFF, 972px 797px #FFF, 1648px 533px #FFF, 1713px 1828px #FFF, 209px 992px #FFF, 1702px 105px #FFF, 1698px 686px #FFF, 378px 1052px #FFF, 1912px 1200px #FFF, 972px 1762px #FFF, 1775px 1510px #FFF, 29px 352px #FFF, 1809px 1589px #FFF, 1858px 62px #FFF, 997px 991px #FFF, 769px 114px #FFF, 781px 14px #FFF, 810px 630px #FFF, 201px 617px #FFF, 148px 1028px #FFF, 168px 552px #FFF, 770px 1063px #FFF, 525px 547px #FFF, 1277px 295px #FFF, 1976px 1442px #FFF, 1974px 1121px #FFF, 421px 1462px #FFF, 711px 6px #FFF, 1907px 708px #FFF, 1026px 493px #FFF, 1326px 1592px #FFF, 126px 1709px #FFF, 1174px 161px #FFF, 1164px 436px #FFF, 45px 664px #FFF, 215px 317px #FFF, 286px 253px #FFF, 1678px 103px #FFF, 1409px 1278px #FFF, 485px 432px #FFF, 62px 463px #FFF, 1367px 1429px #FFF, 464px 509px #FFF, 764px 945px #FFF, 274px 1684px #FFF, 1016px 977px #FFF, 1938px 1318px #FFF, 414px 524px #FFF, 675px 996px #FFF, 573px 177px #FFF, 263px 840px #FFF, 1895px 1706px #FFF, 1247px 763px #FFF, 564px 838px #FFF, 552px 1929px #FFF, 1686px 1164px #FFF, 1120px 904px #FFF, 1276px 256px #FFF, 1345px 1648px #FFF, 126px 754px #FFF, 1326px 1458px #FFF, 251px 980px #FFF, 213px 1811px #FFF, 1756px 1833px #FFF, 23px 1508px #FFF, 995px 464px #FFF, 1521px 1751px #FFF, 633px 601px #FFF, 1959px 761px #FFF, 1620px 1963px #FFF, 891px 1189px #FFF, 1866px 1709px #FFF, 870px 1002px #FFF, 1935px 662px #FFF, 1302px 640px #FFF, 282px 1108px #FFF, 92px 768px #FFF, 1491px 331px #FFF, 465px 1730px #FFF, 1698px 1784px #FFF, 1620px 1637px #FFF, 1020px 814px #FFF, 1609px 925px #FFF, 313px 842px #FFF, 459px 1425px #FFF, 442px 456px #FFF, 1949px 204px #FFF, 50px 1341px #FFF, 717px 626px #FFF, 1198px 1635px #FFF, 1556px 100px #FFF, 687px 1111px #FFF, 1167px 1453px #FFF, 1910px 297px #FFF, 452px 951px #FFF, 1027px 1423px #FFF, 1051px 1129px #FFF, 699px 1550px #FFF, 620px 116px #FFF, 1434px 901px #FFF, 22px 1515px #FFF, 1836px 476px #FFF, 1220px 1268px #FFF, 86px 1776px #FFF, 134px 1241px #FFF, 1114px 1335px #FFF, 1945px 990px #FFF, 1833px 951px #FFF, 577px 948px #FFF, 1459px 1403px #FFF, 1418px 847px #FFF, 1026px 682px #FFF, 731px 1192px #FFF, 675px 1463px #FFF, 1494px 1372px #FFF, 1415px 478px #FFF, 842px 675px #FFF, 226px 605px #FFF, 1679px 1445px #FFF, 268px 696px #FFF, 1104px 832px #FFF, 525px 1019px #FFF, 24px 1753px #FFF, 609px 597px #FFF, 1840px 447px #FFF, 1204px 861px #FFF, 1067px 642px #FFF, 1105px 1259px #FFF, 22px 54px #FFF, 152px 1289px #FFF, 296px 933px #FFF, 360px 545px #FFF, 355px 82px #FFF, 367px 838px #FFF, 602px 269px #FFF, 399px 570px #FFF, 1373px 1383px #FFF, 1166px 536px #FFF, 1810px 208px #FFF, 1637px 832px #FFF, 678px 205px #FFF, 1503px 1675px #FFF, 448px 1154px #FFF, 1795px 1720px #FFF, 195px 1808px #FFF, 1796px 1109px #FFF, 998px 1180px #FFF, 1904px 1624px #FFF, 36px 432px #FFF, 509px 1482px #FFF, 394px 1969px #FFF, 910px 964px #FFF, 741px 1518px #FFF, 1860px 1905px #FFF, 504px 1268px #FFF, 1369px 528px #FFF, 831px 569px #FFF, 1281px 847px #FFF, 1444px 170px #FFF, 775px 1889px #FFF, 218px 870px #FFF, 1161px 1495px #FFF, 246px 986px #FFF, 833px 12px #FFF, 1700px 1132px #FFF, 600px 275px #FFF, 646px 814px #FFF, 61px 874px #FFF, 703px 1443px #FFF, 1517px 1760px #FFF, 1730px 896px #FFF, 1125px 1020px #FFF, 88px 1669px #FFF, 293px 1622px #FFF, 1186px 1590px #FFF, 1293px 1379px #FFF, 712px 216px #FFF, 1862px 1724px #FFF, 465px 553px #FFF, 81px 638px #FFF, 460px 220px #FFF, 635px 1120px #FFF, 1270px 1722px #FFF, 1032px 1593px #FFF, 533px 219px #FFF, 843px 1245px #FFF, 140px 268px #FFF, 1182px 1479px #FFF, 36px 566px #FFF, 698px 739px #FFF, 956px 381px #FFF, 929px 1714px #FFF, 604px 880px #FFF, 1641px 1114px #FFF, 1272px 1104px #FFF, 1020px 316px #FFF, 1807px 623px #FFF, 1358px 132px #FFF, 750px 569px #FFF, 1089px 71px #FFF, 1158px 1435px #FFF, 1008px 478px #FFF, 1486px 1985px #FFF, 580px 1352px #FFF, 172px 1121px #FFF, 974px 1188px #FFF, 1493px 1454px #FFF, 251px 59px #FFF, 569px 1514px #FFF, 1344px 255px #FFF, 1180px 168px #FFF, 239px 603px #FFF, 618px 1665px #FFF, 341px 778px #FFF, 1203px 1870px #FFF, 212px 1824px #FFF, 1387px 693px #FFF, 167px 1938px #FFF, 1958px 1550px #FFF, 1019px 872px #FFF, 462px 1663px #FFF, 628px 888px #FFF, 1623px 749px #FFF, 1186px 58px #FFF, 791px 253px #FFF, 882px 1726px #FFF, 336px 218px #FFF, 1669px 691px #FFF, 1643px 1373px #FFF, 1849px 1378px #FFF, 654px 1354px #FFF, 1313px 466px #FFF, 922px 642px #FFF, 1484px 536px #FFF, 1082px 392px #FFF, 1447px 309px #FFF, 968px 682px #FFF, 1099px 962px #FFF, 1608px 415px #FFF, 797px 1722px #FFF, 957px 1666px #FFF, 1724px 367px #FFF, 1373px 346px #FFF, 732px 1493px #FFF, 1049px 1848px #FFF, 1197px 763px #FFF, 1527px 1218px #FFF, 1500px 1511px #FFF, 1075px 219px #FFF, 1911px 825px #FFF, 1942px 1251px #FFF, 687px 1879px #FFF, 1227px 1134px #FFF, 364px 1330px #FFF, 404px 668px #FFF, 1677px 1287px #FFF, 69px 269px #FFF, 1127px 1529px #FFF, 241px 947px #FFF, 761px 724px #FFF, 267px 768px #FFF, 1396px 1363px #FFF, 852px 303px #FFF, 1785px 182px #FFF, 1990px 639px #FFF, 1643px 200px #FFF, 285px 1484px #FFF, 705px 389px #FFF, 1141px 1765px #FFF, 1198px 764px #FFF, 800px 797px #FFF, 980px 175px #FFF, 815px 387px #FFF, 50px 1519px #FFF, 1326px 1760px #FFF, 967px 1563px #FFF, 274px 927px #FFF, 1028px 139px #FFF, 498px 361px #FFF, 131px 5px #FFF, 1906px 491px #FFF, 1117px 111px #FFF, 355px 328px #FFF, 1422px 1230px #FFF, 1303px 149px #FFF, 821px 1311px #FFF, 1658px 636px #FFF, 552px 1096px #FFF, 140px 566px #FFF, 245px 1193px #FFF, 1883px 1633px #FFF, 870px 220px #FFF, 364px 1218px #FFF, 1941px 1682px #FFF, 995px 1433px #FFF, 873px 1202px #FFF, 1057px 1080px #FFF, 1884px 247px #FFF, 311px 1429px #FFF, 1887px 1564px #FFF, 248px 1456px #FFF, 1681px 1663px #FFF, 406px 929px #FFF, 1953px 1712px #FFF, 1684px 644px #FFF, 1529px 979px #FFF, 1102px 756px #FFF, 693px 98px #FFF, 503px 147px #FFF, 1639px 780px #FFF, 1701px 138px #FFF, 1571px 874px #FFF, 50px 1001px #FFF, 1459px 1577px #FFF, 1822px 1207px #FFF, 1081px 432px #FFF, 544px 830px #FFF, 728px 482px #FFF, 1641px 229px #FFF, 808px 275px #FFF, 455px 633px #FFF, 1204px 497px #FFF, 277px 1870px #FFF, 794px 1190px #FFF, 1930px 1302px #FFF, 1421px 1084px #FFF, 1346px 787px #FFF, 1322px 467px #FFF, 480px 542px #FFF, 640px 1394px #FFF, 1653px 901px #FFF, 227px 1324px #FFF, 1083px 1204px #FFF, 1066px 1156px #FFF, 917px 1419px #FFF, 1590px 1106px #FFF, 837px 510px #FFF, 913px 1745px #FFF, 1937px 1337px #FFF, 1272px 1420px #FFF, 546px 1693px #FFF, 1086px 289px #FFF, 1975px 282px #FFF, 542px 234px #FFF, 266px 776px #FFF, 1039px 1431px #FFF, 873px 332px #FFF, 1413px 1007px #FFF, 615px 723px #FFF, 978px 1375px #FFF, 818px 1277px #FFF, 1006px 458px #FFF, 742px 1098px #FFF, 1813px 697px #FFF, 1838px 1772px #FFF, 304px 74px #FFF, 1851px 207px #FFF, 635px 473px #FFF, 1309px 928px #FFF, 1978px 1767px #FFF, 1147px 1353px #FFF, 1921px 1311px #FFF, 560px 1469px #FFF, 1139px 275px #FFF, 524px 371px #FFF, 1065px 1019px #FFF, 1854px 1191px #FFF, 463px 807px #FFF, 1920px 688px #FFF, 1737px 175px #FFF, 541px 30px #FFF, 235px 143px #FFF, 124px 130px #FFF, 1734px 683px #FFF, 628px 1607px #FFF, 317px 1419px #FFF, 1792px 154px #FFF, 321px 1962px #FFF, 1261px 787px #FFF, 329px 643px #FFF, 887px 1907px #FFF, 1624px 592px #FFF, 582px 1199px #FFF, 496px 1124px #FFF, 1324px 730px #FFF, 713px 361px #FFF, 1040px 985px #FFF, 218px 641px #FFF, 844px 132px #FFF, 518px 1737px #FFF, 1130px 801px #FFF, 59px 459px #FFF, 238px 1751px #FFF, 1174px 1080px #FFF, 1403px 526px #FFF, 219px 713px #FFF, 600px 1397px #FFF, 253px 964px #FFF, 344px 829px #FFF, 91px 135px #FFF, 264px 236px #FFF, 102px 1832px #FFF, 319px 374px #FFF, 1239px 647px #FFF, 215px 17px #FFF, 1299px 1153px #FFF, 1019px 200px #FFF, 401px 155px #FFF, 1875px 1664px #FFF, 1100px 192px #FFF, 1688px 1066px #FFF, 182px 645px #FFF, 453px 139px #FFF, 208px 1690px #FFF, 431px 925px #FFF, 1220px 1350px #FFF, 1126px 1367px #FFF, 1556px 1244px #FFF, 1232px 614px #FFF, 314px 557px #FFF, 417px 1277px #FFF, 978px 946px #FFF, 390px 321px #FFF, 906px 1478px #FFF, 440px 25px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    opacity: 0.6;
    background: transparent;
    box-shadow: 482px 1771px #FFF, 1960px 1042px #FFF, 1493px 427px #FFF, 1008px 524px #FFF, 971px 1291px #FFF, 727px 772px #FFF, 1028px 428px #FFF, 464px 1252px #FFF, 1387px 694px #FFF, 509px 1717px #FFF, 1818px 1221px #FFF, 1704px 1467px #FFF, 257px 1208px #FFF, 488px 415px #FFF, 1939px 551px #FFF, 1190px 1871px #FFF, 1183px 1473px #FFF, 978px 1378px #FFF, 1169px 1851px #FFF, 1140px 1350px #FFF, 332px 1950px #FFF, 1640px 624px #FFF, 248px 1006px #FFF, 837px 256px #FFF, 162px 701px #FFF, 893px 256px #FFF, 216px 818px #FFF, 1802px 790px #FFF, 1775px 1451px #FFF, 271px 151px #FFF, 215px 1185px #FFF, 817px 1046px #FFF, 331px 1347px #FFF, 1462px 1317px #FFF, 864px 1229px #FFF, 450px 242px #FFF, 820px 461px #FFF, 912px 748px #FFF, 1703px 1018px #FFF, 1379px 972px #FFF, 487px 530px #FFF, 1424px 357px #FFF, 1411px 39px #FFF, 73px 666px #FFF, 781px 558px #FFF, 1355px 159px #FFF, 1087px 1846px #FFF, 66px 667px #FFF, 824px 682px #FFF, 1413px 1306px #FFF, 291px 1723px #FFF, 348px 549px #FFF, 1859px 998px #FFF, 202px 992px #FFF, 1553px 537px #FFF, 834px 414px #FFF, 1468px 1158px #FFF, 1201px 489px #FFF, 1371px 1579px #FFF, 321px 1706px #FFF, 174px 206px #FFF, 1641px 1988px #FFF, 407px 15px #FFF, 1658px 2000px #FFF, 653px 539px #FFF, 449px 1657px #FFF, 1049px 1153px #FFF, 53px 1980px #FFF, 344px 1759px #FFF, 1673px 1039px #FFF, 985px 814px #FFF, 989px 418px #FFF, 1334px 28px #FFF, 1214px 289px #FFF, 1393px 188px #FFF, 127px 1246px #FFF, 379px 1714px #FFF, 547px 1742px #FFF, 1475px 1909px #FFF, 1301px 1454px #FFF, 107px 1066px #FFF, 1407px 122px #FFF, 134px 409px #FFF, 843px 1287px #FFF, 113px 345px #FFF, 1508px 1181px #FFF, 430px 216px #FFF, 759px 737px #FFF, 1913px 1523px #FFF, 1854px 1335px #FFF, 110px 1522px #FFF, 1168px 1253px #FFF, 500px 1875px #FFF, 466px 78px #FFF, 1886px 289px #FFF, 224px 817px #FFF, 1704px 645px #FFF, 1786px 529px #FFF, 1727px 1546px #FFF, 1618px 1418px #FFF, 1300px 1563px #FFF, 543px 845px #FFF, 1975px 1204px #FFF, 878px 1380px #FFF, 370px 686px #FFF, 1169px 301px #FFF, 1537px 445px #FFF, 283px 1622px #FFF, 1911px 427px #FFF, 1940px 1825px #FFF, 156px 1299px #FFF, 1093px 1975px #FFF, 169px 608px #FFF, 592px 1780px #FFF, 680px 1395px #FFF, 1803px 566px #FFF, 1076px 497px #FFF, 221px 888px #FFF, 849px 637px #FFF, 1014px 638px #FFF, 924px 431px #FFF, 1941px 1202px #FFF, 1216px 252px #FFF, 1763px 1367px #FFF, 975px 1061px #FFF, 1065px 1249px #FFF, 1243px 177px #FFF, 1337px 705px #FFF, 487px 1458px #FFF, 1496px 368px #FFF, 314px 154px #FFF, 1634px 599px #FFF, 133px 390px #FFF, 886px 1369px #FFF, 683px 377px #FFF, 698px 363px #FFF, 1154px 1482px #FFF, 839px 1831px #FFF, 973px 1442px #FFF, 1964px 53px #FFF, 730px 1570px #FFF, 1228px 889px #FFF, 1661px 529px #FFF, 994px 1297px #FFF, 1508px 1299px #FFF, 1718px 712px #FFF, 1544px 542px #FFF, 2000px 525px #FFF, 413px 1772px #FFF, 1163px 1181px #FFF, 699px 7px #FFF, 252px 1196px #FFF, 1718px 1652px #FFF, 1269px 1260px #FFF, 1433px 1392px #FFF, 383px 1703px #FFF, 319px 59px #FFF, 694px 1508px #FFF, 1661px 300px #FFF, 1301px 626px #FFF, 1043px 15px #FFF, 339px 976px #FFF, 1402px 1486px #FFF, 281px 1928px #FFF, 192px 1128px #FFF, 1063px 981px #FFF, 1559px 1435px #FFF, 1995px 1055px #FFF, 195px 353px #FFF, 1966px 1288px #FFF, 7px 681px #FFF, 704px 1873px #FFF, 939px 1068px #FFF, 1378px 934px #FFF, 1243px 1402px #FFF, 1702px 1402px #FFF, 491px 1823px #FFF, 1048px 470px #FFF, 854px 1466px #FFF, 871px 937px #FFF, 1488px 569px #FFF, 1388px 1155px #FFF, 1965px 61px #FFF, 191px 784px #FFF, 1298px 237px #FFF, 1890px 100px #FFF, 1059px 1432px #FFF, 1594px 47px #FFF, 1835px 229px #FFF, 532px 1642px #FFF, 260px 324px #FFF, 460px 522px #FFF, 1882px 429px #FFF, 669px 615px #FFF, 1568px 770px #FFF, 418px 442px #FFF, 1946px 1624px #FFF, 1282px 1951px #FFF, 1089px 883px #FFF, 898px 349px #FFF;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 482px 1771px #FFF, 1960px 1042px #FFF, 1493px 427px #FFF, 1008px 524px #FFF, 971px 1291px #FFF, 727px 772px #FFF, 1028px 428px #FFF, 464px 1252px #FFF, 1387px 694px #FFF, 509px 1717px #FFF, 1818px 1221px #FFF, 1704px 1467px #FFF, 257px 1208px #FFF, 488px 415px #FFF, 1939px 551px #FFF, 1190px 1871px #FFF, 1183px 1473px #FFF, 978px 1378px #FFF, 1169px 1851px #FFF, 1140px 1350px #FFF, 332px 1950px #FFF, 1640px 624px #FFF, 248px 1006px #FFF, 837px 256px #FFF, 162px 701px #FFF, 893px 256px #FFF, 216px 818px #FFF, 1802px 790px #FFF, 1775px 1451px #FFF, 271px 151px #FFF, 215px 1185px #FFF, 817px 1046px #FFF, 331px 1347px #FFF, 1462px 1317px #FFF, 864px 1229px #FFF, 450px 242px #FFF, 820px 461px #FFF, 912px 748px #FFF, 1703px 1018px #FFF, 1379px 972px #FFF, 487px 530px #FFF, 1424px 357px #FFF, 1411px 39px #FFF, 73px 666px #FFF, 781px 558px #FFF, 1355px 159px #FFF, 1087px 1846px #FFF, 66px 667px #FFF, 824px 682px #FFF, 1413px 1306px #FFF, 291px 1723px #FFF, 348px 549px #FFF, 1859px 998px #FFF, 202px 992px #FFF, 1553px 537px #FFF, 834px 414px #FFF, 1468px 1158px #FFF, 1201px 489px #FFF, 1371px 1579px #FFF, 321px 1706px #FFF, 174px 206px #FFF, 1641px 1988px #FFF, 407px 15px #FFF, 1658px 2000px #FFF, 653px 539px #FFF, 449px 1657px #FFF, 1049px 1153px #FFF, 53px 1980px #FFF, 344px 1759px #FFF, 1673px 1039px #FFF, 985px 814px #FFF, 989px 418px #FFF, 1334px 28px #FFF, 1214px 289px #FFF, 1393px 188px #FFF, 127px 1246px #FFF, 379px 1714px #FFF, 547px 1742px #FFF, 1475px 1909px #FFF, 1301px 1454px #FFF, 107px 1066px #FFF, 1407px 122px #FFF, 134px 409px #FFF, 843px 1287px #FFF, 113px 345px #FFF, 1508px 1181px #FFF, 430px 216px #FFF, 759px 737px #FFF, 1913px 1523px #FFF, 1854px 1335px #FFF, 110px 1522px #FFF, 1168px 1253px #FFF, 500px 1875px #FFF, 466px 78px #FFF, 1886px 289px #FFF, 224px 817px #FFF, 1704px 645px #FFF, 1786px 529px #FFF, 1727px 1546px #FFF, 1618px 1418px #FFF, 1300px 1563px #FFF, 543px 845px #FFF, 1975px 1204px #FFF, 878px 1380px #FFF, 370px 686px #FFF, 1169px 301px #FFF, 1537px 445px #FFF, 283px 1622px #FFF, 1911px 427px #FFF, 1940px 1825px #FFF, 156px 1299px #FFF, 1093px 1975px #FFF, 169px 608px #FFF, 592px 1780px #FFF, 680px 1395px #FFF, 1803px 566px #FFF, 1076px 497px #FFF, 221px 888px #FFF, 849px 637px #FFF, 1014px 638px #FFF, 924px 431px #FFF, 1941px 1202px #FFF, 1216px 252px #FFF, 1763px 1367px #FFF, 975px 1061px #FFF, 1065px 1249px #FFF, 1243px 177px #FFF, 1337px 705px #FFF, 487px 1458px #FFF, 1496px 368px #FFF, 314px 154px #FFF, 1634px 599px #FFF, 133px 390px #FFF, 886px 1369px #FFF, 683px 377px #FFF, 698px 363px #FFF, 1154px 1482px #FFF, 839px 1831px #FFF, 973px 1442px #FFF, 1964px 53px #FFF, 730px 1570px #FFF, 1228px 889px #FFF, 1661px 529px #FFF, 994px 1297px #FFF, 1508px 1299px #FFF, 1718px 712px #FFF, 1544px 542px #FFF, 2000px 525px #FFF, 413px 1772px #FFF, 1163px 1181px #FFF, 699px 7px #FFF, 252px 1196px #FFF, 1718px 1652px #FFF, 1269px 1260px #FFF, 1433px 1392px #FFF, 383px 1703px #FFF, 319px 59px #FFF, 694px 1508px #FFF, 1661px 300px #FFF, 1301px 626px #FFF, 1043px 15px #FFF, 339px 976px #FFF, 1402px 1486px #FFF, 281px 1928px #FFF, 192px 1128px #FFF, 1063px 981px #FFF, 1559px 1435px #FFF, 1995px 1055px #FFF, 195px 353px #FFF, 1966px 1288px #FFF, 7px 681px #FFF, 704px 1873px #FFF, 939px 1068px #FFF, 1378px 934px #FFF, 1243px 1402px #FFF, 1702px 1402px #FFF, 491px 1823px #FFF, 1048px 470px #FFF, 854px 1466px #FFF, 871px 937px #FFF, 1488px 569px #FFF, 1388px 1155px #FFF, 1965px 61px #FFF, 191px 784px #FFF, 1298px 237px #FFF, 1890px 100px #FFF, 1059px 1432px #FFF, 1594px 47px #FFF, 1835px 229px #FFF, 532px 1642px #FFF, 260px 324px #FFF, 460px 522px #FFF, 1882px 429px #FFF, 669px 615px #FFF, 1568px 770px #FFF, 418px 442px #FFF, 1946px 1624px #FFF, 1282px 1951px #FFF, 1089px 883px #FFF, 898px 349px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    opacity: 0.6;
    background: transparent;
    box-shadow: 288px 1223px #FFF, 1340px 222px #FFF, 219px 766px #FFF, 124px 837px #FFF, 193px 1935px #FFF, 757px 1376px #FFF, 916px 656px #FFF, 792px 489px #FFF, 1074px 175px #FFF, 1469px 1644px #FFF, 1228px 130px #FFF, 208px 833px #FFF, 1754px 939px #FFF, 1432px 1471px #FFF, 268px 1984px #FFF, 1126px 545px #FFF, 1135px 1561px #FFF, 601px 65px #FFF, 701px 1694px #FFF, 263px 126px #FFF, 680px 629px #FFF, 467px 1512px #FFF, 499px 1908px #FFF, 86px 1463px #FFF, 147px 1247px #FFF, 1956px 899px #FFF, 219px 1009px #FFF, 1369px 93px #FFF, 471px 984px #FFF, 677px 16px #FFF, 1586px 182px #FFF, 8px 980px #FFF, 107px 1620px #FFF, 200px 1314px #FFF, 1697px 1288px #FFF, 223px 1723px #FFF, 1232px 1040px #FFF, 1778px 1331px #FFF, 1248px 1990px #FFF, 611px 1638px #FFF, 240px 1100px #FFF, 799px 1636px #FFF, 737px 1847px #FFF, 1926px 237px #FFF, 938px 1656px #FFF, 811px 993px #FFF, 376px 791px #FFF, 1507px 418px #FFF, 884px 573px #FFF, 160px 827px #FFF, 755px 316px #FFF, 678px 1681px #FFF, 66px 205px #FFF, 264px 500px #FFF, 86px 379px #FFF, 1098px 817px #FFF, 1021px 1187px #FFF, 658px 1993px #FFF, 1943px 397px #FFF, 1327px 12px #FFF, 1263px 1932px #FFF, 138px 351px #FFF, 1849px 196px #FFF, 850px 750px #FFF, 1714px 1709px #FFF, 313px 689px #FFF, 621px 304px #FFF, 1183px 430px #FFF, 382px 252px #FFF, 184px 604px #FFF, 1923px 657px #FFF, 1298px 581px #FFF, 529px 1230px #FFF, 840px 175px #FFF, 500px 1717px #FFF, 829px 706px #FFF, 21px 1437px #FFF, 325px 1735px #FFF, 1294px 1943px #FFF, 1673px 1726px #FFF, 1648px 102px #FFF, 1702px 694px #FFF, 1994px 226px #FFF, 1733px 345px #FFF, 1476px 958px #FFF, 733px 1282px #FFF, 1231px 497px #FFF, 666px 1520px #FFF, 1519px 1308px #FFF, 1049px 228px #FFF, 1575px 1229px #FFF, 1645px 564px #FFF, 1516px 1840px #FFF, 365px 445px #FFF, 394px 1264px #FFF, 1679px 1572px #FFF, 457px 1347px #FFF, 1418px 86px #FFF, 1014px 1067px #FFF, 64px 1697px #FFF;
    animation: animStar 150s linear infinite;
}

#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 288px 1223px #FFF, 1340px 222px #FFF, 219px 766px #FFF, 124px 837px #FFF, 193px 1935px #FFF, 757px 1376px #FFF, 916px 656px #FFF, 792px 489px #FFF, 1074px 175px #FFF, 1469px 1644px #FFF, 1228px 130px #FFF, 208px 833px #FFF, 1754px 939px #FFF, 1432px 1471px #FFF, 268px 1984px #FFF, 1126px 545px #FFF, 1135px 1561px #FFF, 601px 65px #FFF, 701px 1694px #FFF, 263px 126px #FFF, 680px 629px #FFF, 467px 1512px #FFF, 499px 1908px #FFF, 86px 1463px #FFF, 147px 1247px #FFF, 1956px 899px #FFF, 219px 1009px #FFF, 1369px 93px #FFF, 471px 984px #FFF, 677px 16px #FFF, 1586px 182px #FFF, 8px 980px #FFF, 107px 1620px #FFF, 200px 1314px #FFF, 1697px 1288px #FFF, 223px 1723px #FFF, 1232px 1040px #FFF, 1778px 1331px #FFF, 1248px 1990px #FFF, 611px 1638px #FFF, 240px 1100px #FFF, 799px 1636px #FFF, 737px 1847px #FFF, 1926px 237px #FFF, 938px 1656px #FFF, 811px 993px #FFF, 376px 791px #FFF, 1507px 418px #FFF, 884px 573px #FFF, 160px 827px #FFF, 755px 316px #FFF, 678px 1681px #FFF, 66px 205px #FFF, 264px 500px #FFF, 86px 379px #FFF, 1098px 817px #FFF, 1021px 1187px #FFF, 658px 1993px #FFF, 1943px 397px #FFF, 1327px 12px #FFF, 1263px 1932px #FFF, 138px 351px #FFF, 1849px 196px #FFF, 850px 750px #FFF, 1714px 1709px #FFF, 313px 689px #FFF, 621px 304px #FFF, 1183px 430px #FFF, 382px 252px #FFF, 184px 604px #FFF, 1923px 657px #FFF, 1298px 581px #FFF, 529px 1230px #FFF, 840px 175px #FFF, 500px 1717px #FFF, 829px 706px #FFF, 21px 1437px #FFF, 325px 1735px #FFF, 1294px 1943px #FFF, 1673px 1726px #FFF, 1648px 102px #FFF, 1702px 694px #FFF, 1994px 226px #FFF, 1733px 345px #FFF, 1476px 958px #FFF, 733px 1282px #FFF, 1231px 497px #FFF, 666px 1520px #FFF, 1519px 1308px #FFF, 1049px 228px #FFF, 1575px 1229px #FFF, 1645px 564px #FFF, 1516px 1840px #FFF, 365px 445px #FFF, 394px 1264px #FFF, 1679px 1572px #FFF, 457px 1347px #FFF, 1418px 86px #FFF, 1014px 1067px #FFF, 64px 1697px #FFF;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}