html,
body {
    background-color: #242424;
    color: #000;
    width: 100%;
    height: 5000px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

.intro_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1001;
    background-color: #242424;
    display: block;
}

.navbar {
    background-color: #151515;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navlogo {
    height: 80px;
    width: auto;
    position: fixed;
    top: 0%;
    left: 48%;
}

.navcart {
    height: 60px;
    width: auto;
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1;
}

h6.shopping_cart_amount {
    position: fixed;
    top: -23px;
    right: 49px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-emphasis: bold;
    z-index: 2;
}

.menu-icon {
    height: 30px;
    width: 30px;
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 35px;
    cursor: pointer;
}

.menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 4px;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
}

.menu-icon__line-left {
    width: 15px;
}

.menu-icon__line-right {
    width: 15px;
    float: right;
}

.nav_menu {
    position: fixed;
    z-index: 1;
}

.nav_menu:before,
.nav_menu:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
}

.nav_menu:after {
    background: white;
    transition-delay: 0s;
}

.nav_menu:before {
    transition-delay: .1s;
}

.nav__content {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
}

.nav__list-item {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 40px;
    padding: 10px 0px 0px 0px;
}

.nav__list-item:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 2px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 40px;
}

.nav__list-main {
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, transform .3s ease;
    transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
    margin-right: 25px;
    font-size: 70px;
    padding: 100px 80px 10px 80px;
}

.nav__list-main:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 3px;
    top: 85%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    transition: all .3s ease;
    z-index: -1;
    font-size: 60px;
}

.nav__list-item:hover:before {
    width: 100%;
}

#men:hover:before {
    width: 36%;
}

#women:hover:before {
    width: 50%;
}

body.nav-active .menu-icon__line {
    background-color: #ffffff;
    -webkit-transform: translateX(0px) rotate(-45deg);
    transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
    -webkit-transform: translateX(1px) rotate(45deg);
    transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
    -webkit-transform: translateX(-2px) rotate(45deg);
    transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav_menu {
    visibility: visible;
}

body.nav-active .nav_menu:before,
body.nav-active .nav_menu:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
}

body.nav-active .nav_menu:after {
    transition-delay: .1s;
}

body.nav-active .nav_menu:before {
    transition-delay: 0s;
    display: block;
}

body.nav-active .nav__list-main {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-main {
    transition-delay: 0.5s;
}

body.nav-active .nav__list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease;
    transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
}

body.nav-active .nav__list-item {
    transition-delay: 0.5s;
}

.cont {
    position: relative;
    overflow: hidden;
    height: 100vh;
    padding: 90px 70px;
}

.cont__inner {
    position: relative;
    height: 100%;
}

.cont__inner:hover .el__bg:after {
    opacity: 1;
}

.el {
    position: absolute;
    left: 0;
    top: 0;
    width: 19.2%;
    height: 100%;
    background: #252525;
    transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
    transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
    will-change: transform, width, opacity;
}

.el:not(.s--active) {
    cursor: pointer;
}

.el__overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.el__inner {
    overflow: hidden;
    position: relative;
    height: 100%;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}

.cont.s--inactive .el__inner {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.el__bg {
    position: relative;
    width: calc(100vw - 140px);
    height: 100%;
    transition: -webkit-transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s;
    transition: transform 0.6s 0.7s, -webkit-transform 0.6s 0.7s;
    will-change: transform;
}

.el__bg:before {
    content: "";
    position: absolute;
    left: 0;
    top: -5%;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: center center;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

.cont.s--inactive .el__bg:before {
    -webkit-transform: translate3d(0, -100%, 0) scale(1.2);
    transform: translate3d(0, -100%, 0) scale(1.2);
}

.el.s--active .el__bg:before {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
}

.el__bg:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s;
}

.cont.s--el-active .el__bg:after {
    transition: opacity 0.5s 1.4s;
    opacity: 1 !important;
}

.el__preview-cont {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s 1.2s;
}

.cont.s--inactive .el__preview-cont {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.cont.s--el-active .el__preview-cont {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    transition: all 0.5s;
}

.el__heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}

.el__content {
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s;
}

.el.s--active .el__content {
    z-index: 2;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s 1.4s;
}

.el__text {
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
}

.el__close-btn {
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 60px;
    opacity: 0;
    pointer-events: none;
    transition: all 0s 0.45s;
    cursor: pointer;
}

.el.s--active .el__close-btn {
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transition: all 0s 1.4s;
}

.el__close-btn:before,
.el__close-btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -4px;
    background: #fff;
    opacity: 0;
    transition: opacity 0s;
}

.el.s--active .el__close-btn:before,
.el.s--active .el__close-btn:after {
    opacity: 1;
}

.el__close-btn:before {
    -webkit-transform: rotate(45deg) translateX(100%);
    transform: rotate(45deg) translateX(100%);
}

.el.s--active .el__close-btn:before {
    transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    -webkit-transform: rotate(45deg) translateX(0);
    transform: rotate(45deg) translateX(0);
}

.el__close-btn:after {
    -webkit-transform: rotate(-45deg) translateX(100%);
    transform: rotate(-45deg) translateX(100%);
}

.el.s--active .el__close-btn:after {
    transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
    -webkit-transform: rotate(-45deg) translateX(0);
    transform: rotate(-45deg) translateX(0);
}

.el__index {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 100%;
    min-height: 250px;
    text-align: center;
    font-size: 20vw;
    line-height: 0.85;
    font-weight: bold;
    transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.3s 1.4s;
    transition: transform 0.5s, opacity 0.3s 1.4s, -webkit-transform 0.5s;
    -webkit-transform: translate3d(0, 1vw, 0);
    transform: translate3d(0, 1vw, 0);
}

.el:hover .el__index {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cont.s--el-active .el__index {
    transition: opacity 0.3s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.3s;
    transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
    opacity: 0;
}

.el__index-back,
.el__index-front {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.el__index-back {
    color: #2f3840;
    opacity: 0;
    transition: opacity 0.25s 0.25s;
}

.el:hover .el__index-back {
    transition: opacity 0.25s;
    opacity: 1;
}

.el__index-overlay {
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
    color: transparent;
}

.el__index-overlay:before {
    content: attr(data-index);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    transition: -webkit-transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s;
    transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}

.el:hover .el__index-overlay {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.el:hover .el__index-overlay:before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.el:nth-child(1) {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.cont.s--el-active .el:nth-child(1):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
    transform: scale(0.5) translate3d(0%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(1) .el__inner {
    transition-delay: 0s;
}

.el:nth-child(1) .el__bg {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.el:nth-child(1) .el__bg:before {
    transition-delay: 0s;
    background-image: url("../images/W-SundaySnow-PolarNight-19-0001.jpeg");
}

.el:nth-child(2) {
    -webkit-transform: translate3d(105.2083333333%, 0, 0);
    transform: translate3d(105.2083333333%, 0, 0);
    -webkit-transform-origin: 155.2083333333% 50%;
    transform-origin: 155.2083333333% 50%;
}

.cont.s--el-active .el:nth-child(2):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(2) .el__inner {
    transition-delay: 0.1s;
}

.el:nth-child(2) .el__bg {
    -webkit-transform: translate3d(-19.2%, 0, 0);
    transform: translate3d(-19.2%, 0, 0);
}

.el:nth-child(2) .el__bg:before {
    transition-delay: 0.1s;
    background-image: url("../images/supreme-fall-winter-2014-collection-lookbook-3-952x536.jpg");
}

.el:nth-child(3) {
    -webkit-transform: translate3d(210.4166666667%, 0, 0);
    transform: translate3d(210.4166666667%, 0, 0);
    -webkit-transform-origin: 260.4166666667% 50%;
    transform-origin: 260.4166666667% 50%;
}

.cont.s--el-active .el:nth-child(3):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(3) .el__inner {
    transition-delay: 0.2s;
}

.el:nth-child(3) .el__bg {
    -webkit-transform: translate3d(-38.4%, 0, 0);
    transform: translate3d(-38.4%, 0, 0);
}

.el:nth-child(3) .el__bg:before {
    transition-delay: 0.2s;
    background-image: url("../images/W-SundaySnow-PolarNight-19-0001.jpeg");
}

.el:nth-child(4) {
    -webkit-transform: translate3d(315.625%, 0, 0);
    transform: translate3d(315.625%, 0, 0);
    -webkit-transform-origin: 365.625% 50%;
    transform-origin: 365.625% 50%;
}

.cont.s--el-active .el:nth-child(4):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
    transform: scale(0.5) translate3d(315.625%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(4) .el__inner {
    transition-delay: 0.3s;
}

.el:nth-child(4) .el__bg {
    -webkit-transform: translate3d(-57.6%, 0, 0);
    transform: translate3d(-57.6%, 0, 0);
}

.el:nth-child(4) .el__bg:before {
    transition-delay: 0.3s;
    background-image: url("../images/supreme-fall-winter-2014-collection-lookbook-3-952x536.jpg");
}

.el:nth-child(5) {
    -webkit-transform: translate3d(420.8333333333%, 0, 0);
    transform: translate3d(420.8333333333%, 0, 0);
    -webkit-transform-origin: 470.8333333333% 50%;
    transform-origin: 470.8333333333% 50%;
}

.cont.s--el-active .el:nth-child(5):not(.s--active) {
    -webkit-transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
    opacity: 0;
    transition: opacity 0.95s, -webkit-transform 0.95s;
    transition: transform 0.95s, opacity 0.95s;
    transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}

.el:nth-child(5) .el__inner {
    transition-delay: 0.4s;
}

.el:nth-child(5) .el__bg {
    -webkit-transform: translate3d(-76.8%, 0, 0);
    transform: translate3d(-76.8%, 0, 0);
}

.el:nth-child(5) .el__bg:before {
    transition-delay: 0.4s;
    background-image: url("../images/nilton-nltn-Camper-Cardinal-Gallery-S2_1920x1080.jpg");
}

.el:hover .el__bg:after {
    opacity: 0;
}

.el.s--active {
    z-index: 1;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
    transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
}

.el.s--active .el__bg {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}

.el.s--active .el__bg:before {
    transition-delay: 0.6s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}

.icon-link img {
    width: 100%;
    vertical-align: top;
}

.icon-link--twitter {
    left: auto;
    right: 5px;
}

.Product_frame .Product_card .Product_Name {
    position: absolute;
}

.Product_frame .Product_card .Product_Price {
    position: absolute;
}

.Product_Name a {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #000000 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.2s ease-out;
    font-family: "Poppins", sans-serif;
}

.Product_Name a:hover {
    background-position: -99.99% 0;
    transition: 0.2s;
}

.Product_Price a {
    color: #ffffff;
    font-size: 2.5em;
    line-height: 1.15em;
    text-decoration: none;
    font-family: 'BebasNeueRegular';
}

.Product_frame {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 400px;
    height: 500px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: translateX(-5%) translateY(20%);
    transform: translateX(-5%) translateY(20%);
    z-index: 0;
}

.Product_frame .Product_card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 2px rgba(30, 30, 20, 0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    overflow: hidden;
}

.Product_frame .Product_card img {
    display: block;
    position: relative;
    width: 150%;
    height: auto;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.Product_card {
    background-color: #303030;
}

.Product_mockup {
    right: 0;
    height: 600px;
    width: auto;
    float: right;
    position: fixed;
    padding: 3% 0% 0% 0%;
    display: block;
    z-index: 0;
}

@media only screen and (max-width: 1200px) {
    .Product_mockup {
        display: none;
    }

    .Product_frame {
        top: 5%;
        left: 50%;
        width: 400px;
        height: 500px;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform: translateX(-50%) translateY(10%);
        transform: translateX(-50%) translateY(10%);
    }
}

.Bundle_1 {
    width: auto;
    height: 600px;
    position: relative;
    background-image: url(../images/nilton-nltn-Camper-Cardinal-Gallery-S2_1920x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hot-spot {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.8;
}

.hot-spot:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #bbbbbb;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.2s all;
}

.hot-spot:hover {
    cursor: pointer;
    opacity: 1;
}

.hot-spot:hover:after {
    width: 35px;
    height: 35px;
    opacity: 1;
}

.speech-bubble {
    position: absolute;
    width: 150px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    display: none;
    z-index: 2;
}

.speech-bubble h1 {
    font-size: 20px;
    margin-top: 12px;
    color: #333333;
}

.speech-bubble p {
    margin-top: 4px;
    margin-bottom: 12px;
    font-style: italic;
    color: #ffffff;
}

.speech-bubble:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}